@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Sora:wght@100..800&display=swap"); */

.fontstyle{
  font-family: 'Sora';
  font-weight: 700;
}
.ping {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #007bff;
  border-radius: 50%;
  animation: scaleup 2s cubic-bezier(0, 0, 0.2, 1) infinite;
}
.ping::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #b8daff;
  opacity: 0;
  animation: ping 2s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@keyframes scaleup {
  0% {
    scale: 1;
  }
  33% {
    scale: 1.5;
  }
  66% {
    scale: 1;
  }
  100% {
    scale: 1;
  }
}

@keyframes ping {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
  }
  50% {
    width: 0;
    height: 0;
    opacity: 0.5;
  }
  100% {
    width: 70px; /* Change size as needed */
    height: 70px; /* Change size as needed */
    opacity: 0;
  }
}
/* @media screen and (width: 1024px) {
  .rounded-anim-two {
    margin-top: 8rem;
  }
}
@media screen and (max-width: 1150px) {
  .rounded-anim-two {
    top: 10rem;
    left: 6rem;
  }
  .rounded-anim-one {
    top: 10rem;
    right: 6rem;
  }
}
@media screen and (max-width: 700px) {
  .rounded-anim-two {
    top: 8rem;
    left: 4rem;
  }
  .rounded-anim-one {
    top: 8rem;
    right: 4rem;
  }
}
@media screen and (max-width: 510px) {
  .rounded-anim-two {
    top: 12rem;
    left: 4rem;
  }
  .rounded-anim-one {
    top: 12rem;
    right: 4rem;
  }
}
@media screen and (max-width: 400px) {
  .rounded-anim-two {
    top: 14rem;
    left: 4rem;
  }
  .rounded-anim-one {
    top: 14rem;
    right: 4rem;
  }
} */
